body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

h1 {
  font-size: 120px;
  animation: fadeIn 2s;
}

h2 {
  font-size: 70px;
  transform: translateY(100%);
  animation: fadeIn 3s, slide-up 1s forwards;

}

@keyframes slide-up {
  to {
    transform: translateY(0);
  }
}

.Github{
  width: 250px;
  height: 250px;
  border: none;
  background-image: url('C:\Users\prana\Downloads\GitHub-Mark.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}


.input-container {
  margin-bottom: 20px;
}

.input-field {
  width: 80%; /* Adjust the width as needed */
  max-width: 400px; /* Add a maximum width to avoid it becoming too wide */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.app-title {
  font-family: 'Font Name', sans-serif;
  font-size: 3rem; /* Adjust the font size as needed */
  color: white; /* Set the text color to white */
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 20px;
}

.input-label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 1px;
}

.input-field {
  width: 70%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.app-title {
  font-size: 100px;
  padding: 20px;

}